################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/I wanna Siv3D/OpenSiv3D_0.6.161/App/OpenSiv3D_0.6.161(debug).exe
