# include <Siv3D/Windows/Resource.hpp>

//////////////////////////////////////////////////////
//
//	Siv3D Engine Resources (DO NOT REMOVE)
//
//////////////////////////////////////////////////////
DefineResource(100, ICON, icon.ico)

//
//	Shaders
//
Resource(engine/shader/d3d11/sprite.vs)
Resource(engine/shader/d3d11/shape.ps)
Resource(engine/shader/d3d11/square_dot.ps)
Resource(engine/shader/d3d11/round_dot.ps)
Resource(engine/shader/d3d11/texture.ps)
Resource(engine/shader/d3d11/bitmapfont.ps)
Resource(engine/shader/d3d11/sdffont.ps)
Resource(engine/shader/d3d11/sdffont_outline.ps)
Resource(engine/shader/d3d11/sdffont_shadow.ps)
Resource(engine/shader/d3d11/sdffont_outlineshadow.ps)
Resource(engine/shader/d3d11/msdffont.ps)
Resource(engine/shader/d3d11/msdffont_outline.ps)
Resource(engine/shader/d3d11/msdffont_shadow.ps)
Resource(engine/shader/d3d11/msdffont_outlineshadow.ps)
Resource(engine/shader/d3d11/msdfprint.ps)
Resource(engine/shader/d3d11/fullscreen_triangle.vs)
Resource(engine/shader/d3d11/fullscreen_triangle.ps)
Resource(engine/shader/d3d11/forward3d.vs)
Resource(engine/shader/d3d11/line3d.vs)
Resource(engine/shader/d3d11/forward3d.ps)
Resource(engine/shader/d3d11/line3d.ps)
Resource(engine/shader/d3d11/copy.ps)
Resource(engine/shader/d3d11/gaussian_blur_5.ps)
Resource(engine/shader/d3d11/gaussian_blur_9.ps)
Resource(engine/shader/d3d11/gaussian_blur_13.ps)
Resource(engine/shader/d3d11/apply_srgb_curve.ps)
Resource(engine/shader/d3d11/quad_warp.vs)
Resource(engine/shader/d3d11/quad_warp.ps)
Resource(engine/shader/d3d11/sky.ps)
Resource(engine/shader/glsl/sprite.vert)
Resource(engine/shader/glsl/shape.frag)
Resource(engine/shader/glsl/square_dot.frag)
Resource(engine/shader/glsl/round_dot.frag)
Resource(engine/shader/glsl/texture.frag)
Resource(engine/shader/glsl/bitmapfont.frag)
Resource(engine/shader/glsl/sdffont.frag)
Resource(engine/shader/glsl/sdffont_outline.frag)
Resource(engine/shader/glsl/sdffont_shadow.frag)
Resource(engine/shader/glsl/sdffont_outlineshadow.frag)
Resource(engine/shader/glsl/msdffont.frag)
Resource(engine/shader/glsl/msdffont_outline.frag)
Resource(engine/shader/glsl/msdffont_shadow.frag)
Resource(engine/shader/glsl/msdffont_outlineshadow.frag)
Resource(engine/shader/glsl/msdfprint.frag)
Resource(engine/shader/glsl/fullscreen_triangle.vert)
Resource(engine/shader/glsl/fullscreen_triangle.frag)
Resource(engine/shader/glsl/forward3d.vert)
Resource(engine/shader/glsl/line3d.vert)
Resource(engine/shader/glsl/forward3d.frag)
Resource(engine/shader/glsl/line3d.frag)
Resource(engine/shader/glsl/copy.frag)
Resource(engine/shader/glsl/gaussian_blur_5.frag)
Resource(engine/shader/glsl/gaussian_blur_9.frag)
Resource(engine/shader/glsl/gaussian_blur_13.frag)
Resource(engine/shader/glsl/apply_srgb_curve.frag)
Resource(engine/shader/glsl/quad_warp.vert)
Resource(engine/shader/glsl/quad_warp.frag)
Resource(engine/shader/glsl/sky.frag)

//
//	Fonts
//
Resource(engine/font/min/siv3d-min.woff)

//
//	Box-shadow Textures
//
Resource(engine/texture/box-shadow/256.png)
Resource(engine/texture/box-shadow/128.png)
Resource(engine/texture/box-shadow/64.png)
Resource(engine/texture/box-shadow/32.png)
Resource(engine/texture/box-shadow/16.png)
Resource(engine/texture/box-shadow/8.png)

//////////////////////////////////////////////////////
//
//	Siv3D Engine Optional Resources (Can be removed if not required)
//
//////////////////////////////////////////////////////

//
//	Fonts
//
Resource(engine/font/mplus/mplus-1p-thin.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-light.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-regular.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-medium.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-bold.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-heavy.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-black.ttf.zstdcmp)
Resource(engine/font/noto-cjk/NotoSansCJK-Regular.ttc.zstdcmp)
//Resource(engine/font/noto-cjk/NotoSansJP-Regular.otf.zstdcmp)

//
//	Emoji Fonts
//
Resource(engine/font/noto-emoji/NotoColorEmoji.ttf.zstdcmp)
Resource(engine/font/noto-emoji/NotoEmoji-Regular.ttf.zstdcmp)

//
//	Icons
//
Resource(engine/font/fontawesome/fontawesome-brands.otf.zstdcmp)
Resource(engine/font/fontawesome/fontawesome-solid.otf.zstdcmp)
Resource(engine/font/materialdesignicons/materialdesignicons-webfont.ttf.zstdcmp)

//
//	Sound Font
//
Resource(engine/soundfont/GMGSx.sf2.zstdcmp)

//////////////////////////////////////////////////////
//
//	Siv3D App Resources (Your application resources here)
//
//////////////////////////////////////////////////////


//
//\tGame Sounds
//
Resource(Sound/Bgm/boss_low.mp3)
Resource(Sound/Bgm/boss_normal.mp3)
Resource(Sound/Bgm/ex_boss.mp3)
Resource(Sound/Bgm/gameover_normal.mp3)
Resource(Sound/Bgm/main_high.mp3)
Resource(Sound/Bgm/main_low.mp3)
Resource(Sound/Bgm/main_normal.mp3)
Resource(Sound/Bgm/secret_stage.mp3)
Resource(Sound/Se/sndBlockChange.mp3)
Resource(Sound/Se/sndBossHit.mp3)
Resource(Sound/Se/sndBossWarp.mp3)
Resource(Sound/Se/sndBreak.mp3)
Resource(Sound/Se/sndChange.mp3)
Resource(Sound/Se/sndCherry.mp3)
Resource(Sound/Se/sndDeath.mp3)
Resource(Sound/Se/sndDiscord.mp3)
Resource(Sound/Se/sndDJump.mp3)
Resource(Sound/Se/sndExpro.mp3)
Resource(Sound/Se/sndGuygun.mp3)
Resource(Sound/Se/sndItemGet.mp3)
Resource(Sound/Se/sndJump.mp3)
Resource(Sound/Se/sndSave.mp3)
Resource(Sound/Se/sndShoot.mp3)
Resource(Sound/Se/sndSordStrong.mp3)
Resource(Sound/Se/sndSordWeak.mp3)
Resource(Sound/Se/sndSpark.mp3)
Resource(Sound/Se/sndSpikeTrap.mp3)
Resource(Sound/Se/sndTitleCard.mp3)
Resource(Sound/Se/sndWarp.mp3)
Resource(Sound/Se/sndWindowsError.mp3)
Resource(Sound/Vc/vc_baan.mp3)
Resource(Sound/Vc/vc_bakana.mp3)
Resource(Sound/Vc/vc_bikkuri.mp3)
Resource(Sound/Vc/vc_bubuu.mp3)
Resource(Sound/Vc/vc_hakkyou.mp3)
Resource(Sound/Vc/vc_hoso1.mp3)
Resource(Sound/Vc/vc_hoso2.mp3)
Resource(Sound/Vc/vc_hoso3.mp3)
Resource(Sound/Vc/vc_pon.mp3)

//
//\tGame Textures
//
Resource(Texture/Background/black.png)
Resource(Texture/Background/cave.png)
Resource(Texture/Background/caveLong.png)
Resource(Texture/Background/sample.png)
Resource(Texture/Background/trapBossCave1.png)
Resource(Texture/Background/trapBossCave2.png)
Resource(Texture/Block/sprBlock.png)
Resource(Texture/Block/sprBlock_extra1.png)
Resource(Texture/Block/sprBlock_extra2.png)
Resource(Texture/Block/sprBlock_extra3.png)
Resource(Texture/Block/sprBlock_extra4.png)
Resource(Texture/Block/sprBlock_haibokusya.jpg)
Resource(Texture/Block/sprBlock_low1.png)
Resource(Texture/Block/sprBlock_low2.png)
Resource(Texture/Block/sprBlock_low3.png)
Resource(Texture/Block/sprBlock_normal1.png)
Resource(Texture/Block/sprBlock_normal2.png)
Resource(Texture/Block/sprBlock_normal3.png)
Resource(Texture/Block/sprBlock_secret1.png)
Resource(Texture/Block/sprBlock_secret2.png)
Resource(Texture/Block/sprBlock_secret3.png)
Resource(Texture/Block/sprBlockShootTrough.png)
Resource(Texture/Block/sprFloor.png)
Resource(Texture/Block/sprWall.png)
Resource(Texture/Block/sprWater.png)
Resource(Texture/Cherry/sparkCherry.png)
Resource(Texture/Cherry/sprCherry.png)
Resource(Texture/Cherry/sprCherryAllWhite.png)
Resource(Texture/Cherry/sprCherryFrameWhite.png)
Resource(Texture/Cherry/sprCherryLow.png)
Resource(Texture/Cherry/sprCherryLowAllWhite.png)
Resource(Texture/Cherry/sprCherryLowBarrageWhite.png)
Resource(Texture/Cherry/sprCherryLowBoss.png)
Resource(Texture/Cherry/sprCherryLowWhite.png)
Resource(Texture/Cherry/sprCherryLowWhiteLine.png)
Resource(Texture/Cherry/sprCherryTrap.png)
Resource(Texture/Cherry/sprCherryTrapBoss.png)
Resource(Texture/Cherry/sprCherryWhite.png)
Resource(Texture/Miku/sprMiku.png)
Resource(Texture/Other/achieveFrame.png)
Resource(Texture/Other/adTrap.png)
Resource(Texture/Other/batu.png)
Resource(Texture/Other/discordTrap.png)
Resource(Texture/Other/Heart.png)
Resource(Texture/Other/hideLine.png)
Resource(Texture/Other/item1.png)
Resource(Texture/Other/item2.png)
Resource(Texture/Other/panddChan.png)
Resource(Texture/Other/ryuta_hide.png)
Resource(Texture/Other/sprExtraLogo.png)
Resource(Texture/Other/sprFakeSave.png)
Resource(Texture/Other/sprGAMEOVER.png)
Resource(Texture/Other/sprGAMEOVER_low.png)
Resource(Texture/Other/sprGAMEOVER_normal.png)
Resource(Texture/Other/sprNameBar_low.png)
Resource(Texture/Other/sprNameBar_normal.png)
Resource(Texture/Other/sprNameBar_trap.png)
Resource(Texture/Other/sprSave.png)
Resource(Texture/Other/sprSave_low.png)
Resource(Texture/Other/sprSave_normal.png)
Resource(Texture/Other/sprSecretWarp.png)
Resource(Texture/Other/sprSign.png)
Resource(Texture/Other/sprSign_low.png)
Resource(Texture/Other/sprSign_normal.png)
Resource(Texture/Other/sprTitleCard_boss.png)
Resource(Texture/Other/sprTitleCard_exboss.png)
Resource(Texture/Other/sprTitleCard_got.png)
Resource(Texture/Other/sprTitleCard_milu.png)
Resource(Texture/Other/sprTitleCard_mochi.png)
Resource(Texture/Other/sprTitleCard_reno.png)
Resource(Texture/Other/sprTitleCard_ryuta.png)
Resource(Texture/Other/sprTitleCard_secret.png)
Resource(Texture/Other/sprWarp.png)
Resource(Texture/Other/sprWarp_low.png)
Resource(Texture/Other/sprWarp_normal.png)
Resource(Texture/Other/steamTrap.png)
Resource(Texture/Other/tayama.png)
Resource(Texture/Other/transParentTree.png)
Resource(Texture/Other/tree.png)
Resource(Texture/Other/warningTrap.png)
Resource(Texture/Player/bullet.png)
Resource(Texture/Player/bullet2.png)
Resource(Texture/Player/sprFall_normal.png)
Resource(Texture/Player/sprIdle_normal.png)
Resource(Texture/Player/sprJump_normal.png)
Resource(Texture/Player/sprPlayerFall.png)
Resource(Texture/Player/sprPlayerIdle.png)
Resource(Texture/Player/sprPlayerIdle_low.png)
Resource(Texture/Player/sprPlayerJump.png)
Resource(Texture/Player/sprPlayerRunning.png)
Resource(Texture/Player/sprPlayer_low.png)
Resource(Texture/Player/sprRunning_normal.png)
Resource(Texture/Spike/sprSpikeDown.png)
Resource(Texture/Spike/sprSpikeDown_low.png)
Resource(Texture/Spike/sprSpikeDown_normal.png)
Resource(Texture/Spike/sprSpikeDown_secret.png)
Resource(Texture/Spike/sprSpikeDown_trap.png)
Resource(Texture/Spike/sprSpikeExtra.png)
Resource(Texture/Spike/sprSpikeLeft.png)
Resource(Texture/Spike/sprSpikeLeft_low.png)
Resource(Texture/Spike/sprSpikeLeft_normal.png)
Resource(Texture/Spike/sprSpikeLeft_secret.png)
Resource(Texture/Spike/sprSpikeLeft_trap.png)
Resource(Texture/Spike/sprSpikeRight.png)
Resource(Texture/Spike/sprSpikeRight_low.png)
Resource(Texture/Spike/sprSpikeRight_normal.png)
Resource(Texture/Spike/sprSpikeRight_secret.png)
Resource(Texture/Spike/sprSpikeRight_trap.png)
Resource(Texture/Spike/sprSpikeUp.png)
Resource(Texture/Spike/sprSpikeUp_low.png)
Resource(Texture/Spike/sprSpikeUp_normal.png)
Resource(Texture/Spike/sprSpikeUp_secret.png)
Resource(Texture/Spike/sprSpikeUp_trap.png)



/* examples 

	//
	// Define your resource path inside `Resource()` macro.
	// No double quotation marks and white spaces may appear.
	//
	Resource(example/siv3d-kun.png)		// ok
	Resource(example/windmill.png)		// ok
	Resource(assets/a b c.txt)			// error: contains white spaces
	Resource("example/windmill.png")	// error: contains double quotation marks

	//
	// If your file contains a white space, define the identifier without using Resource() macro.
	//
	MYIDENTIFIER_1 FILE "assets/a b c.txt"
	MYIDENTIFIER_2 FILE "level 1/map.dat"
*/
